body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x:hidden ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  border-bottom: 1px solid black;
  color: #1d67cd !important;
}
.brand-name{
  height: 2rem;
  width: 10rem;
}
.footer{
  position: fixed;
 width: 100vw;
  bottom: 0;
}
.header{
  width: 100vw;
}